.darkMode {
  $self: &;
  position: fixed;
  top: 0;
  right: 0;

  &__icon {
    > svg {
      height: 2rem;
      width: 2rem;
      > path {
        fill: var(--primary2);
      }
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    visibility: hidden;
    position: relative;

    &:checked {
      + label {
        &:after {
          transform: translateX(3.1rem);
        }
      }
    }
  }

  label {
    position: absolute;
    top: $gap;
    right: $gap;
    width: 6.4rem;
    height: 3.2rem;
    margin: 0px;
    appearance: none;
    background: var(--element1);
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      height: 2.4rem;
      width: 2.4rem;
      top: 0.4rem;
      left: 0.4rem;
      border-radius: 50%;
      background: var(--surface2);
      transition: transform 0.5s ease;
    }
  }
}
