.page {
  display: flex;
  align-items: flex-end;

  &__links {
    margin-bottom: $gapSM;
    display: flex;
    flex-flow: row wrap;

    a {
      padding: $gapXXS $gapXS;
      position: relative;

      &:hover {
        transform: translateX(0.25rem);
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:not(:last-of-type) {
        margin-right: $gapXXS;
      }
    }
  }
}
