$distPath: '../dist';
$srcPath: '../src';
$resPath: '../res';
// Example usage: background-image: url(#{$distPath}/img/logo.svg);

// Colours
$blue1: #828fb7;
$blue2: #6272a4;
$blue3: #4d5b86;
$cyan1: #bdf3fe;
$cyan2: #8be9fd;
$cyan3: #59dffc;
$dGray1: #3e4153;
$dGray2: #282a36;
$dGray3: #121319;
$gray1: #5a5e77;
$gray2: #44475a;
$gray3: #2e303d;
$green1: #82fba0;
$green2: #50fa7b;
$green3: #1ef956;
$orange1: #ffd19f;
$orange2: #ffb86c;
$orange3: #ff9f39;
$pink1: #ffacdc;
$pink2: #ff79c6;
$pink3: #ff46b0;
$purple1: #dbc3fc;
$purple2: #bd93f9;
$purple3: #9f63f6;
$red1: #ff8888;
$red2: #ff5555;
$red3: #ff2222;
$white1: #fff;
$white2: #f2f2f2;
$white3: #e6e6e6;
$yellow1: #f7fcbd;
$yellow2: #f1fa8c;
$yellow3: #ebf85b;

:root[color-mode='light'] {
  --surface1: #fff;
  --surface2: #f2f2f2;
  --surface3: #e6e6e6;
  --element1: #3e4153;
  --element2: #282a36;
  --element3: #121319;
  --primary1: #828fb7;
  --primary2: #6272a4;
  --primary3: #4d5b86;
}

:root[color-mode='dark'] {
  --surface1: #3e4153;
  --surface2: #282a36;
  --surface3: #121319;
  --element1: #fff;
  --element2: #f2f2f2;
  --element3: #e6e6e6;
  --primary1: #dbc3fc;
  --primary2: #bd93f9;
  --primary3: #9f63f6;
}

// Typography
$fontFamilySans: 'Poppins', Helvetica, Arial, sans-serif;
$fontFamily: $fontFamilySans;
$fontSize: 14;
$lineHeight: 1.5;

// Components & Spacing
$borderRadius: 0.5rem;
$gapXXS: 0.5rem;
$gapXS: 1rem;
$gapSM: 2rem;
$gapMD: 3rem;
$gapLG: 4rem;
$gapXL: 5rem;
$gapXXL: 10rem;
$gap: $gapMD;

// Grid & Breakpoints
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 480px;

// Animations
$animationSpeed: 250ms;
$animation: ease;

// Box Shadow
$bsXS: 0 0px 0.7px rgba(0, 0, 0, 0.02), 0 0px 1.7px rgba(0, 0, 0, 0.028),
  0 0px 3.1px rgba(0, 0, 0, 0.035), 0 0px 5.6px rgba(0, 0, 0, 0.042),
  0 0px 10.4px rgba(0, 0, 0, 0.05), 0 0px 25px rgba(0, 0, 0, 0.07);
$bsSM: 0 0.7px 1.4px rgba(0, 0, 0, 0.02), 0 1.7px 3.3px rgba(0, 0, 0, 0.028),
  0 3.1px 6.3px rgba(0, 0, 0, 0.035), 0 5.6px 11.2px rgba(0, 0, 0, 0.042),
  0 10.4px 20.9px rgba(0, 0, 0, 0.05), 0 25px 50px rgba(0, 0, 0, 0.07);
$bsMD: 0 1.4px 2.1px rgba(0, 0, 0, 0.02), 0 3.3px 5px rgba(0, 0, 0, 0.028),
  0 6.3px 9.4px rgba(0, 0, 0, 0.035), 0 11.2px 16.8px rgba(0, 0, 0, 0.042),
  0 20.9px 31.3px rgba(0, 0, 0, 0.05), 0 50px 75px rgba(0, 0, 0, 0.07);
$bsLG: 0 2.1px 2.8px rgba(0, 0, 0, 0.02), 0 5px 6.7px rgba(0, 0, 0, 0.028),
  0 9.4px 12.5px rgba(0, 0, 0, 0.035), 0 16.8px 22.3px rgba(0, 0, 0, 0.042),
  0 31.3px 41.8px rgba(0, 0, 0, 0.05), 0 75px 100px rgba(0, 0, 0, 0.07);
$bsXL: 0 2.8px 3.5px rgba(0, 0, 0, 0.02), 0 6.7px 8.3px rgba(0, 0, 0, 0.028),
  0 12.5px 15.7px rgba(0, 0, 0, 0.035), 0 22.3px 27.9px rgba(0, 0, 0, 0.042),
  0 41.8px 52.2px rgba(0, 0, 0, 0.05), 0 100px 125px rgba(0, 0, 0, 0.07);
